body{
	width:100%;
	height:100%;
	margin:0;
}

#header{
	height:20%;
	width: 100%;
	background-color:black;
	color:white;
}

#buttons{
	position:absolute;
	z-index:4;
	width:100%;
	height:10%;
	font-size:1.5em;
	text-align:center;
}

#streaming_button {
	margin:0;
	height:100%;
	width:50%;
	background-color:red;
}

#podcast_button {
	margin:0;
	height:100%;
	width:50%;
	position:absolute;	
    vertical-align: middle;
	background-color:white;
	margin-left: 50%;
}

p{
	margin:0;
	text-align:center;
	font-size:1.5em;
}

#name{
	font-size:2em;
}

#streaming_tab{
	position: absolute;
	z-index:3;
	height: 100%;
	width: 100%;
	background-color:red;
}


audio{
/*	display:none;*/
}

#player_hq{
	position: absolute;
	width:15%;
	margin-top:20%;
	margin-left:17%;
	border:2px dashed black;
	border-radius:20%;

}

#player_sq{
	position: absolute;
	margin-top: 20%;
	margin-left: 67%;
	width:15%;
	border:2px dashed black;
	border-radius:10%;
}


#podcast_tab{
	z-index:2;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color:white;
	
}

#episodes{
	margin-top: 15%;
	margin-left: 0%;
	list-style-type: none;
/*	position: absolute;*/
	height: 85%;
	width: 100%;
	background-color:green;
}
.link{
/*	margin-left: -12%;*/
	width: 97%;
	border:2px solid black;
	border-radius:10%;
}
li{
	margin-left: 0%;
}

a{ 
	margin: 0%;
	font-size:0.8em;
}

